$app-background: #606060;

$col-product-background: rgb(255, 255, 255);
$col-product-sold-out: #595959;
$col-black: #333;
$col-black-light: #999;

$br-tablet: 42rem; // 672px
$br-desktop: 54rem; // 864px
$br-desktop-lg: 66rem; // 1056px